<ul>

    <li  ng-repeat="event in events" ng-click="clicked(event.name)">

    <span >
        <img  ng-src="{{event.path}}" />
        <br>
        {{event.name}}
    </span>
   </li>
</ul>

<div class="container">
    <div ng-repeat="value in events2 | filter:eventName" class="category">
        <div ng-repeat value.category in value>{{}}</div>
      <!--  {{value.category[$index].category}}
        <div class="services"> {{value.category[$index].name}}

        </div>-->


        <!--<div ng-repeat="value in events2 | filter:eventName">

            <div ng-repeat="value1 in value.services " class="services">{{value1.name}}
                <div ng-repeat="value2 in value1.capabilities " class="capabilities">{{value2.name}}</div>
            </div>
        </div>-->
    </div>

</div>


   <!-- <div ng-repeat="value in events2 | filter:eventName">

            <div ng-repeat="value1 in value.services " class="services">{{value1.name}}
                <div ng-repeat="value2 in value1.capabilities " class="capabilities">{{value2.name}}</div>
            </div>
    </div>-->




